body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

.comment-box,
.post-comment .list{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 2px #0002;

}
.comment-session{
    width: 650px;
    height: auto;
    margin: 0 auto;
}

.post-comment .list{
    width: 100%;
    margin-bottom: 12px;
}
.post-comment .list .user{
    display: flex;
    padding: 8px;
    overflow: hidden;
}
.post-comment .list .user img{
    height: 38px;
    width: 38px;
    margin-right: 10px;
    border-radius: 10px;
}

.comment-session .name{
    text-transform: uppercase;
    font-weight: 500;
}

.post-comment .list .day{
    font-size: 12px;
}

.post-comment .comment-post{
    padding:  0 0 15px 58px;
}

/* comment Box */

.comment-box{
    padding: 10px;
    overflow: hidden;
}
.comment-box .user{
    display: flex;
    width: min-content;
}
.comment-box .image img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
}
.comment-box textarea{
    background-color: #eeee;
    width: -webkit-fill-available;
    height: 152px;
    margin: 10px 0;
    padding: 10px;
    resize: inherit;
    border-radius: 5px;
    box-shadow:  0 0 0 1px #0003;
}

.comment-box textarea:focus-visible{
    box-shadow:  0 0 0 1px #009cff;
    outline: none;
}

.comment-box .comment-submit{
    float: right;
    padding: 6px 10px;
    border: none;
    background-color: #009cff;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
.comment-box .comment-submit:hover{
      background-color: #5aade0;
}
.logout{
  background-color: #9a0000;
  color: white;
}

@media screen and (max-width:660px) {
    .comment-session{width:100%}
}