

.main-post-wrapper-light {
    overflow: hidden;
    border: 1px solid rgb(235, 237, 240);
    border-radius: 2px 2px 0px 0px;
}

.main-post-light {
    display: flex;
    height: auto;
    background-color: #fff;
    margin-bottom: 20px;
}

.fdnSHg-light {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-left: 1px solid rgb(235, 237, 240);
    padding: 8px;
    min-width: 0px;
}

.Xdpjn-light {
    display: flex;
    justify-content: space-between;
}


.iyZCUv-light {
    margin: 8px -8px;
    border-bottom: 1px solid rgb(235, 237, 240);
    border-image: initial;
    border-left: none;
    border-right: none;
    padding: 8px;
    background-color: #ffff;
}


.fKcKMA-light:hover {
    border: 1px solid rgb(24, 144, 255);
    box-shadow: 0px 0px 5px rgb(24, 144, 255);
}


.dLVDIM-light {
    transition: filter 0.1s ease 0s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.kEqgYk-light {
    border: 1px solid rgb(235, 237, 240);
    border-radius: 2px;
    background-color: rgb(216, 184, 184);
}



.userName{
    font-size: 20px;
    font-weight: bold;
}

.divContent{
    display: flex;
}
.fa-pencil-square-o{
    cursor: pointer;
}

.fa-check{
    display: none;
}

.mainpostlight{
    background-color: #1890ff;
}

.component-wrapper-light{
    background-color: #f5f2f2;
}